html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #3E4E50;
	letter-spacing: 1px;
}

.contact-bar {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	position: absolute;
	top: 20px;
	z-index: 2;
	left: 20px;
}

.page-container {
	height: 100vh;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 20px;
	background-size: 400% 400%;
	display: none;
}

.text-container {
	width: 75%;
	height: 75%;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.text-container-2 {
	display: flex;
	flex-direction: row;
}

.text-container-left {
	width: 60%;
	margin-right: 20px;
}

.text-container-right {
	width: 40%;
	margin-left: 20px;
	text-align: center;
}

.title {
	font-family: 'Staatliches', cursive;
	font-weight: 800;
	font-size: 112px;
	letter-spacing: 3px;
	color: #f3c1b8;
}

.about-title {
	font-family: 'Staatliches', cursive;
	font-weight: 800;
	font-size: 40px;
	letter-spacing: 3px;
	color: #f3c1b8;
}

#contact-title {
	font-family: 'Staatliches', cursive;
	font-weight: 800;
	font-size: 28px;
	letter-spacing: 3px;
	color: #f3c1b8;
}

.about-text {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.image {
	margin-top: 20px;
	object-fit: cover;
	width: 80%;
}

#img-caption-1 {
    position: absolute;
    left: 31.5%;
    margin-top: 9%;
}

#img-caption-2 {
    position: absolute;
    left: 11.5%;
    margin-top: 19%;
}

#img-caption-3 {
    position: absolute;
    left: 71.5%;
    margin-top: 29%;
}

.link {
	text-decoration: none;
	color: #3f3f3f;
	background-color: #fcedea;
	background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #3eadad 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    transition: background-position 0.5s ease-out;
}

.link:hover {
	color: white;
	background-position: -99.99% 0;
}

.grid-container {
	font-family: 'Titillium Web', sans-serif;
	/*position: absolute;*/
    position: relative;
	width: 100vw;
	height: 100%;
	display: none;
}

.grid-contents {
	position: absolute;
	object-fit: cover;
	width: 19.9vw;
	height: 20vw;
}

#grid-contact {
    position: absolute;
	top: 10%;
	left: 52%;
}

#grid-image-1 {
    width: 19.9vw;
	height: 20vw;
	left: 30.1%;
	margin-top: 10%;
	overflow: hidden;
    position: absolute;
    display: inline-block;
}

#grid-image-2 {
	width: 19.9vw;
	height: 20vw;
	object-fit: cover;
	left: 10.1%;
	margin-top: 20%;
	overflow: hidden;
    position: absolute;
}

#grid-image-3 {
	width: 19.9vw;
	height: 20vw;
	object-fit: cover;
	left: 70.1%;
	margin-top: 30%;
	overflow: hidden;
    position: absolute;
}


#wrapper {
  display: table;
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#wrapper-inner {
  display: table-cell;
  vertical-align:middle;
  width: 100%;
  height: 100%;
}

#scroll-down {
    display: block;
    position: relative;
    padding-top: 79px;
    text-align: center;
}

.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
    margin-left: 49.75%;
    margin-top: 1px;
}
.arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #f3c1b8;
    border-right: 2px solid #f3c1b8;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
#scroll-title {
    display: block;
    text-transform: uppercase;
    color: #f3c1b8;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    display: none;
}
#scroll-down::before {
    -webkit-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: absolute;
    top: 0px;
    left: 50%;
    /*margin-left: -1px;*/
    width: 1px;
    height: 90px;
    background: #f3c1b8;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}


/* img follow cursor */

.img-container {
  transition: transform .1s ease;
}

.img-container:hover {
  transform: scale(1.08);
  /*
  Change the scale value as much as you want to change the amount of zoom on hover.
  */
}

.img-container img {
  opacity: .7;
  transform: translate(0,0);
  /*
  Change the opacity value to change how "faded" you want the image to appear when it is not hovered.
  */
  transition: opacity .25s ease-in-out;
}

.img-container img:hover {
  opacity: 1;
}



/* responsive */

@media screen and (max-width: 1000px) {
	.text-container-left {
		width: 100%;
	}

	.text-container-2 {
		flex-direction: column-reverse;
	}

	.about-title {
		font-size: 60px;
	}

	.about-text {
		font-size: 40px;
	}

    .page-container {
        height: 250vh;
        padding-bottom: 100px;
    }

	.image {
		display: none;
	}
}